/* Global */
html {
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
img {
  width: 300px;
  height: 250px;
}
body {
  color: #0C1821;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  margin: 0;
  padding-top: 30px;
  text-align: center;
  font-weight: 400;
}
h1 {
  font-size: 90px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
p {
  text-align: center;

}
header {
  background-color: #1B2A41;
  color: white;


}
header h1  {
  text-shadow: 4px 2px 2px #4383AF;
}
.content_wrap {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px
}
a {
  color: white;
}
a:hover{
  text-decoration: none;
}

/* Profile */

/* Projects */
.projects {
  background-color: #CCC9DC;

}

.projects a {
  color: #1B2A41;
  background-color: #7C99AC;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}
.projects a:hover {
  opacity: 80%;
}
.box_for_projects {
  overflow: hidden;
  border-bottom: 2px solid #7C99AC;
  padding-bottom: 25px;
  padding-top: 25px;
}
.box_for_projects h3 {
  margin-top: 0;
}
.box_for_projects img {
  float: left;
}
.box_for_discr{
  display: inline-block;
  margin-left: 20px;

}

/* Work experience*/
.work {
  background-color: #D3DEDC;

}
.work p {
  text-align: left;
}
/* Education */
.education p{
  text-align: left;
}
/* Contact Info */
footer {
  background-color: #1B2A41;
  color: white;
}
